<%- include ('./components/header.ejs') %>
<body>
    <%- include ('./components/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario">
            <div class="card-header">
                <h3>Realizar pergunta</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/question">
                    <label>Titulo</label>
                    <input type="text" name="title" class="form-control mb-3" placeholder="Titulo">
                    <label>Descrição</label>
                    <textarea name="description" id="" cols="30" rows="5" class="form-control mb-3" placeholder="Escreva sua pergunta"></textarea>
                    <button type="submit" class="btn btn-success w-100">Perguntar</button>
                </form>               
            </div>
        </div>
    </div>
</body>
<% include ('./components/scripts.ejs') %> 