<%- include ('./components/header.ejs') %>
<body>
    <%- include ('./components/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= question.title %></h1>
        <p><%= question.description %></p>
        <hr>
    </div>
</body>
<% include ('./components/scripts.ejs') %> 