<%- include ('./components/header.ejs') %>
<body>
    <%- include ('./components/navbar.ejs') %> 
    <div class="container">
        <hr>
        <h3>Perguntas</h3>
        <hr>
        <a href="/question" class="btn btn-warning w-100"><strong>Criar Pergunta</strong></a>
        <hr>
        <% questions.forEach(element => { %>         
            <div class="card mt-4">
                <div class="card-body">
                    <h3><%= element.title %></h3>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Responder</button>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include ('./components/scripts.ejs') %> 